<div id="header" class="navbar-toggleable-md sticky header-sm clearfix">

    <!-- SEARCH HEADER -->
    <div class="search-box over-header">
        <a id="closeSearch" href="#" class="fa fa-remove"></a>

        <form action="page-search-result-1.html" method="get">
            <input type="text" class="form-control" placeholder="SEARCH" />
        </form>
    </div>
    <!-- /SEARCH HEADER -->

    <!-- TOP NAV -->
    <header id="topNav">

        <!-- NAVIGATION -->
        {% include "::moduleUsed/menu.html.twig" %}
    </header>
    <!-- /Top Nav -->

</div>