{% extends "::layout/layout.html.twig" %}

{% block principal %}
    <section class="page-header">
        <div class="container">

            <h1>Services à l’international</h1>

            <!-- breadcrumbs -->
            <ol class="breadcrumb">
                <li><a href="{{ path('azimuth_homepage') }}">Accueil</a></li>
                <li><a href="{{ path('service_homepage') }}">Services</a></li>
                <li class="active">Services à l’international </li>
            </ol><!-- /breadcrumbs -->

        </div>
    </section>
    <!-- /PAGE HEADER -->




    <!-- -->
    <section>
        <div class="container">

            <div class="row">

                <!-- LEFT -->
                <div class="col-lg-3 col-md-3 col-sm-3 col-lg-pull-9 col-md-pull-9 col-sm-pull-9">

                    <!-- BANNER ROTATOR -->
                    <div class="owl-carousel buttons-autohide controlls-over margin-bottom-60 text-center" data-plugin-options='{"singleItem": true, "autoPlay": 4000, "navigation": true, "pagination": false, "transitionStyle":"goDown"}'>
                        <a href="transformation-affaires/gestion-des-changements.php">
                            <img class="img-responsive" src="assets/images/banners/nouveaute2.jpg" width="270" height="350" alt="">
                        </a>
                        <a href="services-aux-communautes-autochtones.php">
                            <img class="img-responsive" src="assets/images/banners/nouveaute1.jpg" width="270" height="350" alt="">
                        </a>							</div>
                    <!-- /BANNER ROTATOR -->





                </div>


                <!-- RIGHT -->
                <div class="col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">

                    <h4>La volonté affichée d’AZIMUTH est d’offrir ses services  à l’international.
                        À ce niveau, nous tissons des relations avec nos partenaires sur trois grands continents : les Amériques, l’Europe et l’Afrique.
                    </h4>
                    <p> Que vous soyez une institution internationale des Nations Unies, des États, des Collectivités locales, des Institutions sous-régionales, les Organisations Sans but lucratif à envergure internationale, les professionnels et partenaires des services de consultation d'AZIMUTH  peuvent vous aider avec la gestion, la croissance et l'optimisation de votre organisation. Nous savons personnaliser notre expertise votre culture et à vos capacités. Nous sommes engagés et commis à vous accompagner à travers tous les enjeux que vous pourriez connaître comme organisation. Notre objectif : devenir votre partenaire de choix et de confiance et ce, pour le très long terme. Chez AZIMUTH, notre engagement à votre égard c'est l'EXCELLENCE. TOUJOURS. Nos services sont divisés en les lignes suivantes :

                    </p>


                    <!-- Début toogle Toogle -->
                    <div class="toggle toggle-transparent toggle-bordered-full">

                        <div class="toggle active">
                            <label><a href="strategie-organisationnelle.php">Stratégie organisationnelle</a></label>
                            <div class="toggle-content">
                                <p>
                                    <a class="list-group-item" href="strategie-organisationnelle/gouvernance.php" >Gouvernance</a>
                                    <a class="list-group-item"href="strategie-organisationnelle/planification.php">Planification</a>
                                    <a class="list-group-item"href="strategie-organisationnelle/analyse-de-rentablite.php">Analyse de rentabilité</a>
                                    <a class="list-group-item"href="strategie-organisationnelle/gestion-du-portefeuille.php">Gestion du portefeuille </a>
                                    <a class="list-group-item"href="strategie-organisationnelle/gestion-du-rendement.php">Gestion du rendement</a>
                                    <a class="list-group-item"href="strategie-organisationnelle/gestion-des-changements.php">Gestion des changements</a>
                                    <a class="list-group-item"href="strategie-organisationnelle/gestion-des-risques-d-entreprise.php">Gestion des risques d'entreprise</a></p>
                            </div>
                        </div>

                        <div class="toggle">
                            <label><a href="exploitation-organisationnelle.php">Exploitation organisationnelle</a></label>
                            <div class="toggle-content">
                                <p><a class="list-group-item" href="exploitation-organisationnelle/gouvernance.php">Gouvernance</a>
                                    <a class="list-group-item" href="exploitation-organisationnelle/planification.php">Planification</a>
                                    <a class="list-group-item" href="exploitation-organisationnelle/analyse-de-rentablite.php">Analyse de rentabilité</a>
                                    <a class="list-group-item" href="exploitation-organisationnelle/gestion-du-portefeuille.php">Gestion du portefeuille </a>
                                    <a class="list-group-item" href="exploitation-organisationnelle/gestion-du-rendement.php">Gestion du rendement</a>
                                    <a class="list-group-item" href="exploitation-organisationnelle/gestion-des-changements.php">Gestion des changements</a>
                                    <a class="list-group-item" href="exploitation-organisationnelle/gestion-des-risques-d-entreprise.php">Gestion des risques d'entreprise</a>
                                    <a class="list-group-item" href="exploitation-organisationnelle/architecture-operationnelele.php">Architecture opérationnelle </a>
                                    <a class="list-group-item" href="exploitation-organisationnelle/evaluation-de-programme.php">Évalution de programme</a>
                                    <a class="list-group-item" href="exploitation-organisationnelle/gestion-de-projet.php">Gestion de projet</a>
                                    <a class="list-group-item" href="exploitation-organisationnelle/gestion-de-technologie.php">Gestion de la technologie</a></p>
                            </div>
                        </div>

                        <div class="toggle">
                            <label><a href="transformation-d-affaires.php" >Transformation d’affaires et d’organisation</a></label>
                            <div class="toggle-content">
                                <p><a class="list-group-item" href="transformation-affaires/planification.php">Planification</a>
                                    <a class="list-group-item" href="transformation-affaires/analyse-de-rentablite.php">Analyse de rentabilité</a>
                                    <a class="list-group-item" href="transformation-affaires/gestion-du-portefeuille.php">Gestion du portefeuille </a>
                                    <a class="list-group-item" href="transformation-affaires/gestion-du-rendement.php">Gestion du rendement</a>
                                    <a class="list-group-item" href="transformation-affaires/architecture-operationnelele.php">Architecture opérationnelle </a>
                                    <a class="list-group-item" href="transformation-affaires/evaluation-de-programme.php">Évalution de programme</a>
                                    <a class="list-group-item" href="#">Analyse et développement des organisations.</a>

                                    <a class="list-group-item" href="transformation-affaires/gestion-de-projet.php">Gestion de projet</a>
                                    <a class="list-group-item" href="transformation-affaires/gestion-des-changements.php">Gestion des changements</a>
                                    <a class="list-group-item" href="transformation-affaires/gestion-des-risques-d-entreprise.php">Gestion des risques d'entreprise</a>
                                    <a class="list-group-item" href="transformation-affaires/gestion-de-technologie.php">Gestion de la technologie</a>
                                    <a class="list-group-item" href="transformation-affaires/gestion-approvisionnement.php">Gestion de l'approvisionnement</a></p>
                            </div>
                        </div>
                        <div class="toggle">
                            <label><a href="#" >Consultation en Microfinance</a></label>
                            <div class="toggle-content">
                                <p><a class="list-group-item" href="exploitation-organisationnelle/gouvernance.php">Gouvernance</a>
                                    <a class="list-group-item" href="transformation-affaires/gestion-des-risques-d-entreprise.php">Gestion des risques d'entreprise</a>
                                    <a class="list-group-item" href="transformation-affaires/evaluation-de-programme.php">Évalution de programme</a>
                                    <a class="list-group-item" href="transformation-affaires/gestion-du-portefeuille.php">Gestion du portefeuille </a>
                                    <a class="list-group-item" href="transformation-affaires/planification.php">Planification</a>
                                    <a class="list-group-item" href="transformation-affaires/analyse-de-rentablite.php">Analyse de rentabilité</a>

                                    <a class="list-group-item" href="transformation-affaires/gestion-du-rendement.php">Gestion du rendement</a>
                                    <a class="list-group-item" href="transformation-affaires/architecture-operationnelele.php">Architecture opérationnelle </a>

                                    <a class="list-group-item" href="#">Analyse et développement des organisations.</a>

                                    <a class="list-group-item" href="transformation-affaires/gestion-de-projet.php">Gestion de projet</a>
                                    <a class="list-group-item" href="transformation-affaires/gestion-des-changements.php">Gestion des changements</a>

                                    <a class="list-group-item" href="transformation-affaires/gestion-de-technologie.php">Gestion de la technologie</a></p>
                            </div>
                        </div>
                        <div class="toggle">
                            <label><a href="gestion-des-risques-et-certification.php">Gestion des risques et certification</a></label>
                            <div class="toggle-content">
                                <p><a class="list-group-item" href="gestion-risque-certification/gouvernance.php">Gouvernance</a>
                                    <a class="list-group-item" href="gestion-risque-certification/audit-informatique-et-si.php">Audit informatique et des systèmes d’information</a>
                                    <a class="list-group-item" href="gestion-risque-certification/audit-interne.php">Audit interne</a>
                                    <a class="list-group-item" href="gestion-risque-certification/gestion-des-risques-d-entreprise.php">Gestion des risques d'entreprise</a>

                                    <a class="list-group-item" href="gestion-risque-certification/conformite.php">Conformité</a>
                                    <a class="list-group-item" href="gestion-risque-certification/securite-confidentialite-resilience.php">Sécurité, confidentialité et résilience</a>

                                    <a class="list-group-item" href="gestion-risque-certification/efvp.php">Évaluations des facteurs relatifs à la vie privée (EFVP)</a>
                                </p>
                            </div>
                        </div>
                        <div class="toggle">
                            <label><a href="#">Amélioration des processus </a></label>
                            <div class="toggle-content">
                                <p>
                                    <a class="list-group-item" href="#">Amélioration des processus</a>
                                    <a class="list-group-item" href="#">Audit interne</a>
                                    <a class="list-group-item" href="#">Étude de temps et de mouvement</a>

                                    <a class="list-group-item" href="#">Refonte des processus</a>
                                    <a class="list-group-item" href="#">Optimisation des processus</a>

                                    <a class="list-group-item" href="#">Modèles d'affaires</a>
                                    <a class="list-group-item" href="#"> Lean Six Sigma</a>
                                    <a class="list-group-item" href="#">Benchmarking (jalonnage)</a>
                                </p>
                            </div>
                        </div>
                        <div class="toggle">
                            <label><a href="#">Gestion de projets </a></label>
                            <div class="toggle-content">
                                <p><a class="list-group-item" href="gestion-de-projets/bureau-de-gestion-de-projets.php"> Bureau de gestion de projets</a>
                                    <a class="list-group-item" href="gestion-de-projets/gestion-de-portefeuille-de-projets.php">Gestion de portefeuille de projets</a>
                                    <a class="list-group-item" href="gestion-de-projets/gouvernance-de-projets.php"> Gouvernance de projets</a>
                                    <a class="list-group-item" href="gestion-de-projets/implementation-pgi.php"> Implémentation de Progiciels de Gestion Intégrés (PGI)</a>
                                    <a class="list-group-item" href="#">Optimisation des processus</a>

                                    <a class="list-group-item" href="#">Étude de faisabilité de Projet</a>

                                    <a class="list-group-item" href="#">Élaboration de calendriers de projets</a>
                                    <a class="list-group-item" href="#"> Plans de Gestion de Projets </a>
                                    <a class="list-group-item" href="#">Gestion des risques et des enjeux de projets</a>
                                    <a class="list-group-item" href="#">Gestion de la valeur acquise (earned value management)</a>

                                </p>
                            </div>
                        </div><div class="toggle">
                            <label><a href="#">Ingénierie financière</a></label>
                            <div class="toggle-content">
                                <p>	<a class="list-group-item" href="#">Modélisation et cartographie des processus d'affaires</a>
                                    <a class="list-group-item" href="#">Gestion de la performance (tableaux de bord), incluant l’élaboration des indicateurs de performance</a>
                                    <a class="list-group-item" href="#">Étude de temps et de mouvement</a>

                                    <a class="list-group-item" href="#">Analyse statistique</a>
                                    <a class="list-group-item" href="#">Planification des investissements </a>

                                    <a class="list-group-item" href="#">Contrôles fondamentaux</a>
                                    <a class="list-group-item" href="#"> Prévisions et  budgétisation</a>
                                    <a class="list-group-item" href="#">Conception de business plan</a>
                                    <a class="list-group-item" href="#">Diagnostic financier et économique</a>


                                </p>
                            </div>
                        </div><div class="toggle">
                            <label><a href="formations-professionnelles.php">Formations Professionnelles</a></label>
                            <div class="toggle-content">
                                <p><a class="list-group-item" href="formations-professionnelles.php">Éditique</a>
                                    <a class="list-group-item" href="formations-professionnelles.php">Bureautique</a>

                                    <a class="list-group-item" href="formations-professionnelles.php">Progiciels dédiés</a>
                                    <a class="list-group-item" href="formations-professionnelles.php"> Logiciels collaboratifs</a>
                                    <a class="list-group-item" href="sformations-professionnelles.php">Gestion de projets, de programme et de portefeuille de projets </a>
                                    <a class="list-group-item" href="formations-professionnelles.php">Plan d’affaires et démarrage d’entreprise</a>
                                    <a class="list-group-item" href="formations-professionnelles.php">Comptabilité et gestion financière</a>
                                </p>
                            </div>
                        </div>

                    </div>

                </div>


            </div>

        </div>
    </section>
    <!-- / -->

{% endblock %}